@mixin md{
    @media (min-width: 1200px) { @content; }
}
.c-chronology{
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquepele/mob-cronology.png');
    min-height: 100vh;
    padding: 0px 0px 100px;
    background-size: cover;
    background-position: center;

    @include md{
        background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquepele/bg_cronology.png');
    }

    .box-chronology{
        padding: 100px 10px 0px 10px;
        align-items: center;
        margin-bottom: 42px;

        @include md{
            margin-bottom: 0px;
            padding: 100px 0px 100px 0px;
        }
        &:last-child{
            margin-bottom: 0px;
        }

        &-start{
            padding: 0px 0px 100px 0px;
        }
        &-projection{
            padding-top: 500px;
        }
    }
    .chronology{
        &-start{
            background:url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/chronology/background-start.png') ;
            background-position:top center;
            min-height: 120vh;
        }
        &-projection{
            background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/chronology/bg-middle.png');
            background-position:top center;
            background-size: cover;
            position: relative;
            top: -100px;
            min-height: 125vh;
        }
        &-suecia{
            background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemarta/chronology/bg-suecia.png');
            background-position:top center;
            background-size: cover;
            top: -175px;
            position: relative;
            min-height: 150vh;
        }
        
    }
    .chronology{
        &-img{
            width: 100%;
            z-index: 999;
            position: relative;
            
            @include md{
                width: 100%;
                min-height: 250px;
            }
            
            &_text{
                &-start{
                    max-height: 150px;
                    margin-bottom: 36px;
                }
                &-projection{
                    max-height: 28px;
                }
            }
        }
        &-title{
            color: #FFF;
            font-size: 40px;
            font-weight: 500;
            font-family: 'bebas neue';
            text-align: center;
            padding-top: 42px;

            @include md{
                padding-top: 0px;
                text-align: start;
                font-size: 50px;    
            }
            br{
                display: none;
                @include md{
                    display: block;
                }
            }
        }
        &-content{
            color: #000;
            font-size: 16px;
            font-weight: 500;
            padding-top: 32px;
            text-align: center;

            @include md{
                padding-top: 0px;
                text-align: justify;
            }
            &-projection{
                color: #FFF;
            }
        }
    }

    .col-projection{
        margin-right: 40px;
    }

    .col-content{
        &-projection{
            position: absolute;
        }
    }
}

.box-img{
    &-projection{
        top:-400px;

        .chronology-img{
            z-index: 1;
        }
    }
}

